doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		include navigation.pug
		title All Postings
	body
		h1 This is what your network says about Avocados...
		each hit in allpostings
			p=hit.post
			p Created by #{hit.user.name} on #{hit.createdAt}
			a(href=`/posts/${hit.id}`) Read comments here
			p .....

